.childComponent {
    padding: 1rem 0;
    height: fit-content;
    margin-top: 2rem;
}

.childComponent p {
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    width: 350px;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    box-shadow: 0 0 10px rgba(220, 220, 220, 0.329);
    background-color: black;

}

.childComponent2 {

    padding: 1rem 0;

}

.childComponent2 h2 {
    margin: 1rem;
}

.childComponent4 input {
    margin: 2rem 1rem;
    outline: none;
    border: 1px solid grey;
    padding: 10px 1rem;
    padding-right: 3rem;
    font-size: 1rem;
    background-color: black;
    color: white;
}

.childComponent4 button {
    margin: 2rem 1rem;
    padding: 10px 1rem;
    background-color: black;
    outline: none;
    border: 1px solid grey;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
}